.App {
  font-family: sans-serif;
  text-align: center;
}
/* 
button {
  text-align: center;
  transition: 0.5s;
  background-size: 200%;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    #003cc5 0%,
    #0b63f6 51%,
    #003cc5 100%
  );
}

button:hover {
  background-position: right center;
} */

span.error {
  color: red;
  display: block;
}
input.error {
  border: 1px red solid;
}
select.error {
  border: 1px red solid;
}

.backgroungRegister {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

form {
  background-color: gray;
  width: 300px;
  padding: 0;
  margin: 0;
  text-align: center;
  border-radius: 20px;
}

input {
  border-radius: 10px;
  height: 30px;
  width: 90%;
  border: 1px solid rgb(99, 99, 255);
}

select {
  border-radius: 10px;
  height: 35px;
  width: 90%;
  border: 1px solid rgb(99, 99, 255);
}

.main {
  margin: 30px;
}

.REGISTERBackground {
  background-color: #0b63f6;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px #eee;
  border-radius: 20px;
  background-image: linear-gradient(
    to right,
    #003cc5 0%,
    #0b63f6 51%,
    #003cc5 100%
  );
}
div nav {
  display: flex;
  justify-content: space-around;
}
div nav a {
  color: black;
  padding: 10px 20px;
  text-decoration: none;
}
div nav a:hover,
button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
div nav a:active {
  filter: brightness(0.7);
}
div nav button {
  background-color: white;
  border: 2px solid black;
  border-radius: 6px;
  padding: 20px;
  margin-left: 50px;
  text-transform: uppercase;
}
div nav .button a {
  color: black;
}

main.clas {
  background-color: white;
}

.icons div {
  display: inline-block;
  width: 400px;
  height: 450px;
  border-radius: 5px;
  margin: 0 10px;
}
.icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
div .imag1 {
  width: 100%;
  height: 400px;
}

.buttons button {
  padding: 15px 30px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
  color: #666;
  position: relative;
  transition: color 0.2s;
}

/* .buttons button:hover {
  color: #333;
}

.buttons button.active {
  color: #2196f3;
  font-weight: 500;
}

.buttons button.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background: #2196f3;
} */

.form__btn {
  margin-top: 1.2em;
  margin-bottom: 2em;
  display: block;
  width: 100%;
  background-color: #33a192;
  color: white;
  border: none;
  padding: 0.6em;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.1em;
  border-radius: 3px;
  cursor: pointer;
}
