div nav {
  display: flex;
  justify-content: space-around;
}
div nav a {
  color: black;
  padding: 10px 20px;
  text-decoration: none;
}
div nav a:hover,
button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
div nav a:active {
  filter: brightness(0.7);
}
div nav button {
  background-color: white;
  border: 2px solid black;
  border-radius: 6px;
  padding: 20px;
  margin-left: 50px;
  text-transform: uppercase;
}
div nav .button a {
  color: black;
}

main.clas {
  background-color: white;
}

.icons div {
  display: inline-block;
  width: 400px;
  height: 450px;
  border-radius: 5px;
  margin: 0 10px;
}
.icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
div img {
  width: 100%;
  height: 400px;
}

.buttons button {
  padding: 15px 30px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
  color: #666;
  position: relative;
  transition: color 0.2s;
}

.buttons button:hover {
  color: #333;
}

.buttons button.active {
  color: #2196f3;
  font-weight: 500;
}

.buttons button.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background: #2196f3;
}
